body{

    font-family: Arial, sans-serif;
    text-align: center;
    background: #f5f5f5;

}

#quizImage{
    display:block;
    margin:20px auto;
    width:500px;
    max-width:90%;
    height:auto;
}

#certificate{

    width:900px;
    margin:30px auto;
    padding:50px;

    background:#fffdf5;

    border:12px solid #d4af37;

    border-radius:20px;

    box-shadow:0 0 25px rgba(0,0,0,.25);

}

#certificate h1{

    font-size:60px;
    color:#9b7b18;

    margin-bottom:10px;

}

#certificate h2{

    font-size:45px;

}

#certificate h3{

    font-size:34px;

}

#certificate p{

    font-size:24px;

}

#certificate .score{

    font-size:70px;

    color:red;

    font-weight:bold;

}

#certificate .date{

    margin-top:40px;

    font-size:20px;

}